img.work-pic:hover {
    transform: scale(1.03);
}

.__react_modal_image__modal_container {
    z-index: 999999 !important;
}

.__react_modal_image__header {
    background-color: rgb(0 0 0 / 0%) !important;
}