/* ============= */
header.header {
    width: 100%;
    position: relative;
    padding: 7px 10px;
    background: transparent;
}

header.header.sticky_header {
    position: fixed;
    background: #fff;
    z-index: 99999;
    top: 0;
    transition: .3s;
    border-bottom: 1px solid #00000085;
}

.main-navigation {
    padding: 10px 0;
}

.header_main_area_wrap {
    width: 100%;
    position: relative;
}

.header_inner_main_area_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.mainNavbar_wrap {
    width: 100%;
}

.navbar_mobile_menu {
    position: absolute;
    width: 100%;
}

.mainNavbar_wrap {
    width: 85%;
    text-align: right;
}

a.contact_btn {
    background: #4d41e0;
    color: #fff;
    border-radius: 7px;
    padding: 7px 15px !important;
}

.menuToggle {
    z-index: 9999;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 15px;
    display: none;
}

.navbar_mobile_menu_bar {
    width: 100%;
    height: 100%;
}

.navbar_mobile_close span {
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
    transition: .5s;
}

.navbar_mobile_close.remove span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 50%;
    right: 50%;
}

.navbar_mobile_close.remove span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: 50%;
    right: 50%;
}

.navbar_mobile_close.remove span:nth-child(3) {
    display: none;
}

.navbar_mobile_menu_bar span:nth-child(3) {
    margin-bottom: 0;
}

.navbar_mobile_menu_bar span {
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
    transition: .5s;
}

li.navDropdown ul li {
    display: block;
}

/* ---------------------- */

nav.navbar_mobile_menu ul li {
    display: inline-block;
}

nav.navbar_mobile_menu ul li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #818090;
}

a.contact_btn {
    color: #fff !important;
}

a.navbar-brands {
    width: 15%;
    display: inline-block;
    padding-top: 5px;
}

.navbar_mobile_menu {
    position: absolute;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar_mobile_close.remove {
    position: absolute;
    right: -15px;
}

li.navDropdown {
    position: relative;
}

li.navDropdown>ul {
    position: absolute;
    width: 200px;
    left: 15px;
    padding-left: 0;
    visibility: hidden;
    top: 25px;
    opacity: 0;
    transition: .3s;
    text-align: left;
    background: #ffffff;
    border-radius: 5px;
}

li.navDropdown:hover>ul {
    visibility: visible;
    transition: .3s;
    top: 53px;
    opacity: 1;

}

.ttt {
    margin-left: 3rem;
}

.header .ttt {
    display: none;
}

.header2 .ttt {
    display: block;
}

.header .navbar_mobile_menu {
    display: block !important;
}

.header2 .navbar_mobile_menu {
    display: flex !important;
}

/* ============= */

@media only screen and (max-width: 991px) {
    .menuToggle {
        display: block;
    }

    .header2 .ttt {
        display: none;
    }

    a.navbar-brands {
        width: 20%;
        display: inline-block;
        padding-top: 10px;
    }

    nav.navbar_mobile_menu.hide {
        right: 0;
        transform: scale(0);
        transition: .5s;
        top: 40px;
        width: 0;
        height: 0;
    }

    nav.navbar_mobile_menu.hide {
        right: 0;
        transform: scale(0);
        transition: .5s;
        top: 40px;
        width: 0;
    }

    nav.navbar_mobile_menu.show {
        position: absolute;
        right: 0;
        width: 300px;
        background: #fff;
        top: 40px;
        transition: .5s;
        overflow-y: scroll;
        padding-bottom: 15px;
        padding: 10px 20px;
        border-radius: 5px;
    }

    nav.navbar_mobile_menu.hide ul li {
        display: block;
    }

    nav.navbar_mobile_menu.show ul li {
        display: block;
        text-align: left;
    }

    li.navDropdown>ul {
        position: relative;
        top: 0 !important;
        visibility: hidden !important;
        height: 0;
    }

    li.navDropdown>ul.navbar_dropdown {
        position: relative;
        top: 0 !important;
        visibility: visible !important;
        height: auto;
    }

    ul.navbar_mobile_dropdown.hide {
        visibility: hidden !important;
        height: 0;
        opacity: 0 !important;
        transition: .3s !important;
        transform: scale(0);
    }

    ul.navbar_mobile_dropdown.show {
        visibility: visible !important;
        height: 100%;
        opacity: 1;
        transition: .3s;
        left: 10%;
        background: #fff;
        border-radius: 5px;
        transform: scale(1);
    }
}

/* ============= */